src/META-INF/wsdl/localhost_8082/ServidorBiblioteca/ServicioBibliotecaImpl.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="ServicioBibliotecaImpl">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8082/ServidorBiblioteca/ServicioBibliotecaImpl?xsd=1"/>
</xsd:schema>
</types>
<message name="registrarPrestamo">
<part name="parameters" element="tns:registrarPrestamo"/>
</message>
<message name="registrarPrestamoResponse">
<part name="parameters" element="tns:registrarPrestamoResponse"/>
</message>
<message name="prestamosPendientes">
<part name="parameters" element="tns:prestamosPendientes"/>
</message>
<message name="prestamosPendientesResponse">
<part name="parameters" element="tns:prestamosPendientesResponse"/>
</message>
<message name="registrarLibros">
<part name="parameters" element="tns:registrarLibros"/>
</message>
<message name="registrarLibrosResponse">
<part name="parameters" element="tns:registrarLibrosResponse"/>
</message>
<message name="buscarLibro">
<part name="parameters" element="tns:buscarLibro"/>
</message>
<message name="buscarLibroResponse">
<part name="parameters" element="tns:buscarLibroResponse"/>
</message>
<portType name="ServicioBibliotecaImpl">
<operation name="registrarPrestamo">
<input wsam:Action="http://servicios/ServicioBibliotecaImpl/registrarPrestamoRequest" message="tns:registrarPrestamo"/>
<output wsam:Action="http://servicios/ServicioBibliotecaImpl/registrarPrestamoResponse" message="tns:registrarPrestamoResponse"/>
</operation>
<operation name="prestamosPendientes">
<input wsam:Action="http://servicios/ServicioBibliotecaImpl/prestamosPendientesRequest" message="tns:prestamosPendientes"/>
<output wsam:Action="http://servicios/ServicioBibliotecaImpl/prestamosPendientesResponse" message="tns:prestamosPendientesResponse"/>
</operation>
<operation name="registrarLibros">
<input wsam:Action="http://servicios/ServicioBibliotecaImpl/registrarLibrosRequest" message="tns:registrarLibros"/>
<output wsam:Action="http://servicios/ServicioBibliotecaImpl/registrarLibrosResponse" message="tns:registrarLibrosResponse"/>
</operation>
<operation name="buscarLibro">
<input wsam:Action="http://servicios/ServicioBibliotecaImpl/buscarLibroRequest" message="tns:buscarLibro"/>
<output wsam:Action="http://servicios/ServicioBibliotecaImpl/buscarLibroResponse" message="tns:buscarLibroResponse"/>
</operation>
</portType>
<binding name="ServicioBibliotecaImplPortBinding" type="tns:ServicioBibliotecaImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registrarPrestamo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="prestamosPendientes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarLibros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarLibro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ServicioBibliotecaImpl">
<port name="ServicioBibliotecaImplPort" binding="tns:ServicioBibliotecaImplPortBinding">
<soap:address location="http://localhost:8082/ServidorBiblioteca/ServicioBibliotecaImpl"/>
</port>
</service>
</definitions>