src/META-INF/wsdl/localhost_8082/ServidorBiblioteca/ServicioBibliotecaImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="buscarLibro" type="tns:buscarLibro"/>

<xs:element name="buscarLibroResponse" type="tns:buscarLibroResponse"/>

<xs:element name="prestamosPendientes" type="tns:prestamosPendientes"/>

<xs:element name="prestamosPendientesResponse" type="tns:prestamosPendientesResponse"/>

<xs:element name="registrarLibros" type="tns:registrarLibros"/>

<xs:element name="registrarLibrosResponse" type="tns:registrarLibrosResponse"/>

<xs:element name="registrarPrestamo" type="tns:registrarPrestamo"/>

<xs:element name="registrarPrestamoResponse" type="tns:registrarPrestamoResponse"/>

<xs:complexType name="registrarPrestamo">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
<xs:element name="arg1" type="tns:libro" minOccurs="0"/>
<xs:element name="arg2" type="xs:string" minOccurs="0"/>
<xs:element name="arg3" type="xs:int"/>
<xs:element name="arg4" type="xs:string" minOccurs="0"/>
<xs:element name="arg5" type="xs:string" minOccurs="0"/>
<xs:element name="arg6" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="libro">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarPrestamoResponse">
<xs:sequence>
<xs:element name="bandera" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prestamosPendientes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="prestamosPendientesResponse">
<xs:sequence>
<xs:element name="prestamos" type="tns:prestamo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="prestamo">
<xs:sequence>
<xs:element name="fecha" type="xs:string" minOccurs="0"/>
<xs:element name="libro" type="tns:libro" minOccurs="0"/>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="identificacion" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_Usuario" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibro">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarLibroResponse">
<xs:sequence>
<xs:element name="librosEncontrados" type="tns:libro" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarLibros">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrarLibrosResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>