src/META-INF/wsdl/localhost_8082/servidorSimca/ServicioSimcaImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="estaActivo" type="tns:estaActivo"/>

<xs:element name="estaActivoResponse" type="tns:estaActivoResponse"/>

<xs:element name="registrarEstudiantes" type="tns:registrarEstudiantes"/>

<xs:element name="registrarEstudiantesResponse" type="tns:registrarEstudiantesResponse"/>

<xs:complexType name="registrarEstudiantes">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrarEstudiantesResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="estaActivo">
<xs:sequence>
<xs:element name="codEstudiante" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estaActivoResponse">
<xs:sequence>
<xs:element name="estudianteActivo" type="tns:estudiante" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estudiante">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="codigo" type="xs:int"/>
<xs:element name="estado" type="xs:boolean"/>
<xs:element name="identificacion" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>