xml-resources/web-service-references/ServicioRecursosHumanosImpl/wsdl/localhost_8082/servidorRecursosHumanos/ServicioRecursosHumanosImpl.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="personalActivo" type="tns:personalActivo"/>

<xs:element name="personalActivoResponse" type="tns:personalActivoResponse"/>

<xs:element name="registrarPersonal" type="tns:registrarPersonal"/>

<xs:element name="registrarPersonalResponse" type="tns:registrarPersonalResponse"/>

<xs:complexType name="personalActivo">
<xs:sequence>
<xs:element name="tipo_id" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personalActivoResponse">
<xs:sequence>
<xs:element name="personal" type="tns:personal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="personal">
<xs:sequence>
<xs:element name="apellidos" type="xs:string" minOccurs="0"/>
<xs:element name="estado" type="xs:boolean"/>
<xs:element name="identificacion" type="xs:int"/>
<xs:element name="nombres" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_id" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_personal" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarPersonal">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="registrarPersonalResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>